@import '../variables/variables';

// old mobile
@media (min-width: 0) {
  #root {
    font-size: $base-font-size-15;
  }
}

// mobile
@media (min-width: 350px) {
  #root {
    font-size: $base-font-size-20;
  }
}

// tablet
@media (min-width: 750px) {
  #root {
    font-size: $base-font-size-25;
  }
}

// laptop
@media (min-width: 1024px) {
  #root {
    font-size: $base-font-size-25;
  }
}

// monitor
@media (min-width: 1600px) {
  #root {
    font-size: $base-font-size-30;
  }
}