@import '../variables/variables';

body {
  background-color: $primary-blue;
  font-family: 'Cooper Hewitt';
  font-weight: 100;
  margin: $no-margin;
  overflow: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
};
