@import 'global.scss';

#loading-container {
  @include vertically-centered-flex-box;
  color: $secondary-blue;
  flex-direction: column;
  font-size: $sub-header-font-size;
  height: 100vh;
  margin: $no-margin;

  #loading-icon {
    margin-top: 30vh;
  };

  #loading-message {
    margin-top: $margin-30;
  };
};
