@import 'global.scss';

#schedule-view {

  #total-time {
    @include vertically-centered-flex-box;

    color: $off-white;

    #total-sum-in-minutes {
      margin-left: auto;
    };
  };
};

#day-editor-container {
  display: flex;
  flex-direction: column;
  gap: $margin-10;

  .day-editor {
    @include vertically-centered-flex-box;

    border-bottom: 1px solid $tertiary-blue;
    color: $off-white;
    gap: $margin-10;
    padding-bottom: $padding-10;

    &:first-child {
      padding-top: $padding-10;
    };

    .time-in-minutes {
      margin-left: auto;

      &.disabled {
        color: $disabled-blue;
      };
    };
  };
};

#day-view {
  display: flex;
  flex-direction: column;

  #time-editor-container {
    @include vertically-centered-flex-box;

    color: $off-white;
    justify-content: space-between;
    margin-bottom: 15%;

    #time-container {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: $margin-10;

      #time-in-minutes {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        font-size: 4rem;

        &.low-quality { color: $primary-red; };
        &.medium-quality { color: $primary-yellow; };
        &.high-quality { color: $primary-green; };
      };
    };
  };

  #happy-melon-container {
    @include vertically-centered-flex-box;
    color: $off-white;
    flex-direction: column;
    gap: $margin-20;
    padding: 0 10%;
    text-align: center;

    #happy-melon {
      width: 75%;
    };
  };

  #back-button {
    bottom: 120px;
    position: absolute;
    left: $margin-15; // 15px to account for 15px margin
    width: calc(100% - 30px); // -30px to account for 15px margin

    #back-button-content {
      @include vertically-centered-flex-box;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    };
  };
};
