@import 'global.scss';

#dew-container {
  min-height: 52vh;
  overflow: hidden auto;
};

#dews-list {
  .dew-container {
    &:first-of-type {
      .action-button {
        margin-top: 0;
      };
    };

    &:last-of-type {
      .action-button {
        margin-bottom: 0;
      };
    };
  };
};
