// padding
$no-padding: 0;
$extra-small-padding: 2px;
$small-padding: 5px;
$medium-padding: 10px;
$large-padding: 15px;
$extra-large-padding: 20px;

// margin
$no-margin: 0;
$extra-small-margin: 2px;
$small-margin: 5px;
$medium-margin: 10px;
$large-margin: 15px;
$extra-large-margin: 20px;
