// Theme
$primary-blue: #4A6172;
$secondary-blue: #8AA1AE;
$tertiary-blue: #B5EAD7;
$primary-red: #C0392B;
$primary-green: #27AE60;
$secondary-green: #B4CD8A;
$primary-yellow: #F6C757;

// Neutrals
$white: #FFFFFF;
$off-white: #E3E5EC;
$black: #000000;
$off-black: #232332;
$light-grey: #D9D9D9;
$grey: #868686;
$medium-grey: #737373;
$dark-grey: #545454;
$disabled-grey: #bdc3c7;
